@media(max-width: 980px) {
  .about .aboutt {
    font-size: 2.6vh;
  }

  .col-md-4 {
    width: 60%;
    display: flex;
    margin-left: 20%;
  }

  #about .about-flip {
    height: 50rem;
    margin-left: -4rem;
  }

  .about .aboutt {
    height: 50rem;
    font-size: 85%;
  }

  .location .mapa {
    top: -13%;
    height: 83%;
  }
}


@media(max-width: 430px) {

  main {
    padding-top: 15%;
    overflow: hidden;
  }

  .home .start {
    width: 100%;
    margin-left: 0;
  }

  #about .about-flip {
    top: 34rem;
    margin-top: 10px;
    position: absolute;
    height: 24%;
    width: 45%;
    margin-left: 0;
    border: solid 1px rgb(6, 214, 214);
  }

  .about .aboutt {
    height: 60rem;
    font-size: 10px;
    margin: 0 -32% 0 -32%;
    font-size: 14px;
    margin-top: 50%;
    text-align: center;
  }

  .col-md-4 {
    width: 100%;
    margin: 0;
  }

  .mvv {
    background-image: none;
  }

  .location {
    height: 30rem;
  }

  #carouselExampleInterval {
    left: 5%;
    width: 90%;
  }

  .location .mapa {
    top: 0rem;
    left: 0rem;
    position: relative;
    height: 40%;
    width: 90%;
  }

  .register {
    margin-bottom: 22rem;
    margin-top: 5rem;
  }

  .register .teste {
    margin-left: 5rem;
    margin-top: -25rem;

  }

  .teste h3 {
    margin-left: 7rem;
    width: 150%;
    font-size: 25px;
    z-index: 98;
  }

  .teste p {
    margin-left: 7rem;
    width: 150%;
    font-size: 15px;
    z-index: 97;
  }

  .teste h5 {
    font-size: 20px;
    position: absolute;
    top: 45rem;
    margin-left: 5.8rem;
    width: 100%;
    ;
  }

  .input-group {
    top: 20%;
    margin-left: -12rem;
  }
  .input-box {
    width: 100rem;
  }
}
