@media(max-width: 980px) {
  .about .aboutt {
    font-size: 2.6vh;
  }

  .navbar-collapse ul {
    gap: 0;
    width: 15%;
    padding-left: 1%;
    text-align: center;
  }

  .home {
    margin-top: 5%;
  }

  .col-md-4 {
    width: 60%;
    display: flex;
    margin-left: 20%;
  }

  #about .about-flip {
    height: 50rem;
    margin-left: -4rem;
  }

  .about .aboutt {
    height: 50rem;
    font-size: 85%;
  }

  .box-local {
    flex-direction: row;

  }

  #carouselExampleInterval {
    width: 55%;
  }

  iframe {
    width: 100%;
  }

  .button-group {
    width: 100%;
  }
}


@media(max-width: 430px) {

  main {
    padding-top: 15%;
    overflow: hidden;
  }

  .navbar-collapse ul {
    gap: 0;
  }

  nav .container-fluid a:hover {
    width: 30%;
    padding-left: 1rem;
  }

  .home .start {
    width: 100%;
    margin-left: 0;
  }

  #about .about-flip {
    top: 34rem;
    margin-top: 10px;
    position: absolute;
    height: 24%;
    width: 45%;
    margin-left: 0;
    border: solid 2px #7C009C;
  }

  .about .aboutt {
    height: 60rem;
    font-size: 10px;
    margin: 0 -32% 0 -32%;
    font-size: 14px;
    margin-top: 50%;
    text-align: center;
  }

  .col-md-4 {
    width: 100%;
    margin: 0;
  }

  .mvv {
    background-image: none;
  }

  .box-local {
    flex-direction: column;
    gap: 30px;
  }

  iframe {
    width: 100%;
  }

  #carouselExampleInterval {
    width: 100%;
  }

  .register {
    margin-top: 20%;
  }

  .display-grid {
    flex-direction: column;
    align-items: center;
  }

  .text {
    width: 100%;
    gap: 40px;
  }

  .cadastro-login {
    width: 100%;
    margin-top: 5%;
  }

  .input-group {
    justify-content: center;
  }

  .input-box {
    width: 90%;
  }
}